* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial,sans serif;
    background: #f5f7a;
    color: 202733;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: purple;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: #101827;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.navbar {
  max-width: 1150px;
  margin: auto;
  padding: 18px 25px;

  display: flex;
  justify-content: spac-between;
  align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: bold;
   letter-spacing: 1px;
}

.nav-links {
    list-style: none;

    display: flex;
    gap: 25px;
}

.nav-links a {
   color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #55c7d8;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    main-height: 90vh;

    background:
        linear-gradient(
            135deg,
            #101827,
            #18354a
        );
    
    color: white;

    display: flex;
    align-items: center;
}

.hero-content {
    width: 90%;
    max-width: 1150px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

          gap: 60px;
}

.hero-text {
    color: #55c7d8;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 58px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #55c7d8;
}

.hero h2 {
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: normal;
}

.hero-text > p {
    color: #d9e5ec;
    max-widht: 600px;
    font-size: 17px;
}

.hero-buttons {
    margin-top: 30px;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
